<div class="w-full" data-controller="forecast">
  <div class="mx-auto max-w-5xl">
    <div
      class="
        relative overflow-hidden bg-gradient-to-br from-blue-300 via-blue-100
        to-slate-50 px-6 py-10
      "
    >
      <p class="mt-2 w-auto p-2 text-base text-slate-50 bg-black mix-blend-overlay">
        Welcome to Weather Central
      </p>

      <form
        class="mt-8 grid gap-4 bg-white/80 p-5 md:grid-cols-[1fr_auto]"
        data-forecast-target="form"
        data-action="submit->forecast#submit"
      >
        <div class="grid grid-cols-[1fr_auto] items-end gap-4 h-20">
          <div>
            <label class="text-sm font-medium text-slate-700" for="address">Address</label>
            <input
              id="address"
              name="address"
              type="text"
              autocomplete="street-address"
              placeholder="4600 Silver Hill Rd, Washington, DC"
              class="
                mt-2 w-full border border-slate-200 bg-white px-4 py-3 text-base text-slate-900
                outline-none ring-0 transition focus:border-slate-400 focus:ring-2
                focus:ring-sky-200 h-12
              "
              data-forecast-target="address"
            >
          </div>
          <button
            type="submit"
            class="
              items-center justify-center bg-slate-900 px-6 h-12 text-sm font-semibold
              text-white focus:outline-none focus:ring-2 focus:ring-slate-400
              disabled:bg-slate-700
            "
            data-forecast-target="submit"
          >
            Get forecast
          </button>
        </div>
      </form>

      <div
        class="
          mt-6 hidden border border-red-200 bg-rose-50 px-5 py-4 text-sm text-rose-700
        "
        data-forecast-target="error"
      ></div>

      <div class="mt-8 grid gap-4 md:grid-cols-3" data-forecast-target="result">
        <div class="relative bg-white/80 p-5 ">
          <div class="flex w-full items-center justify-between">
            <p class="text-xs text-slate-800">Current temperature</p>
            <div class="text-sm text-slate-500">
              <p data-forecast-target="status"></p>
            </div>
          </div>
          <div class="mt-4 flex items-end gap-2">
            <span
              class="text-4xl font-semibold text-slate-900"
              data-forecast-target="currentTemp"
            >--</span>
            <span class="text-lg text-slate-500">°F</span>
          </div>
          <div
            data-forecast-target="cacheIndicator"
            class="
              absolute right-3 top-3 p-1 bg-slate-400 text-white hidden uppercase text-xs tracking-[.20em]
            "
          >cached</div>
        </div>

      </div>
    </div>
  </div>
</div>
